body {
    background-color:rgba(215, 215, 225, 0.2);
    font-family: "system-ui";
}


/* Header section styling */


.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    align-items: center;
}


#btn{
    font-size: 1.5rem;
}

.header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-me{
    width: 34%;
    font-size: 1.2rem;
}

/* Main section styling */

.resume-contact-container{
    display: flex;
    align-items: center;
}

.icons{
    font-size: 1.5rem;
}

input[type="checkbox"]:checked + main{
    background: #396ca3;
}

.icons:hover{
    font-size: 1.6rem;
}

.buttons{
    padding:0.8rem 2rem 0.8rem 2rem ;
    background-color: transparent;
    cursor: pointer;
    border:1px solid #396ca3;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #396ca3;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.buttons:hover{
    box-shadow: inset 130px 0 0 0 #396ca3;
    color: rgb(211, 202, 202);
}

.projects-contanier{
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    grid-template-rows: minmax(100% auto);
    grid-row-gap:1.2rem;
    grid-column-gap:1.2rem;
    justify-content: center;
}


.project-link-container a{
    margin: 2%;
}

.project-link-container{
    text-align: center;
}

article:hover{
    transform: translateX(.2rem);
    box-shadow: 5px 10px 8px #888888;
    transition-delay:.2s;
}


h2{
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.skills-list{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 40%;
    margin-left: 27%;
}

.skill-item{
    margin: 2%;
    height: 2rem;
    width: 2rem;
    background-color: #e2e6e9;
    padding: 1.5rem 5rem 0.5rem 4rem;
    display: flex;
    border-radius: 20px;
}


.skill-item:hover{
    transform: translateX(0.2rem);
    -moz-animation-delay: .3s;
    animation-delay: .3s;
    transition-delay:.3s;
    box-shadow: 5px 10px 8px #888888;
    cursor: pointer;
}


.creater{
    margin-top: 5%;
}


.inital{
    color:#396ca3
}


a {
  background-image: linear-gradient(to right,  #396ca3, #396ca1 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #396ca3;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}



.arrow-container{
    align-self: flex-end;
    font-size: 3rem;
    margin-right: 5%;
}

article{
    background-color:#e2e6e9;
    padding:10%;
    border-radius:2rem;
    font-size: 1.1rem;
}

article ul{
    display: flex;
    font-size: 1rem;
}


li {
    margin-right: 20%;
}


ul{
    list-style: none;
}

span{
    color:#396ca3;
}

h1{
    font-size: 4rem;
    font-weight: 900;
}

a:hover {
    background-position: 0;
}
   
a:hover::before{
    width: 100%;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0% 5% 0%;
}

/* Toggle style  */

.dark-background-body{
    background-color: #384878;
    color:#c5cfed;
}

.display-mode-sun{
    display: none;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}


#btn-sun{
    background-color: transparent;
    cursor: pointer;
    border-style: none;
    font-size: 1.2rem;
}

#btn-moon{
    background-color: transparent;
    cursor: pointer;
    border-style: none;
    font-size: 1.2rem;
}

.dark-background-articles{
    background-color: #13365c;
    color:#c5cfed;
}

.buttons{
    font-size: 1rem;
}

.button-style{
    color:#c5cfed;
}

.anchor{
    background-image: linear-gradient(to right,  #43ec1d, #24da1e 50%, rgb(233, 227, 224) 50%);
}
.anchor:before{
    content: '';
    background: #42a339;
}